.slider-wrapper {
    display:flex; 
    transition: transform 0.5s ease;
}
.coffee-card {
    position: relative;
    flex: 0 0 250px;
    margin: 0 10px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.coffee-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.coffee-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* پس‌زمینه نیمه‌شفاف */
    color: white;
    padding: 10px;
    text-align: center;
}
